<!DOCTYPE html>
<html>
<head>
<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="crumbs">
        <ul>
            <li><%= link_to static_pages_about_path, class: "#{cp(static_pages_about_path)} first" do %>
            	<span class="hd"></span><span class="tl"></span> About
            	<% end -%>
            </li>

            <li><%= link_to static_pages_home_path, class: cp(static_pages_home_path) do %> 
            	<span class="hd"></span><span class="tl"></span> Home
            	<% end -%>
            </li>

            <li><%= link_to static_pages_help_path, class: cp(static_pages_help_path) do %>
            	<span class="hd"></span><span class="tl"></span> Help
            	<% end -%>
            </li>                        
        </ul>
</div>
<%= yield %>

</body>
</html>
